* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(#7EC8E3, #EAF9FF);
}

/* Header */
.header {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 190px;
  filter: drop-shadow(0 4px 10px rgba(35, 148, 148, 0.15));
}

/* WhatsApp fijo */
.btn-wsp-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 14px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  z-index: 1000;
}

/* Menu */
.menu {
  padding: 40px 20px;
  text-align: center;
}

.menu h2 {
  color: #0B6FA4;
  margin: 30px 0 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 18px;
  justify-items: center;
}

.card {
  background: white;
  width: 180px;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: contain;
  background: #f3fbff;
  border-radius: 15px;
}

.card h3 {
  margin-top: 10px;
  color: #0B6FA4;
}

.card span {
  font-weight: bold;
}

.special {
  border: 2px solid #4DA3C7;
}

/* Modal */
#modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#modal-content {
  background: white;
  padding: 22px;
  border-radius: 20px;
  max-width: 320px;
  width: 90%;
  text-align: center;
  position: relative;
}

#modal-content img {
  width: 100%;
  max-height: 220px;
  object-fit: contain;
  background: #f3fbff;
  border-radius: 15px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 18px;
}

/* Snow */
#snow span {
  position: fixed;
  top: -10px;
  border-radius: 50%;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}

@media (max-width: 768px) {
  .card {
    max-width: 210px;   /* antes 180px */
    padding: 14px;
  }

  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.95rem;
  }
}






